<section aria-labelledby="section-stats__title" class="relative z-10 mt-10 xl:mt-12">
  <h2 id="section-stats__title" class='sr-only'>Stats</h2>
  <ul
    class="container grid grid-cols-1 gap-y-6 gap-x-[1.875rem] justify-items-center md:grid-cols-2 xl:grid-cols-4 xl:justify-between">
    <li class="contents">
      <app-stats-card class='contents' socialMedia="facebook" followers="1987"
        [statsToday]="12" username="@nathanf"></app-stats-card>
    </li>
    <li class="contents">
      <app-stats-card class='contents' socialMedia="twitter" followers="1044"
        [statsToday]="99" username="@nathanf"></app-stats-card>
    </li>
    <li class="contents">
      <app-stats-card class='contents' socialMedia="instagram" followers="11k"
        [statsToday]="1099" username="@realnathanf"></app-stats-card>
    </li>
    <li class="contents">
      <app-stats-card class='contents' socialMedia="youtube" followers="8239"
        [statsToday]="-144" username="Nathan F."></app-stats-card>
    </li>
  </ul>
</section>